* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    position: relative;
    height: 95vh;
}

.heading-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    color: #55c57a;
    text-transform: uppercase;
}

.heading__title {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 5px;
    animation: moveInLeft 2s ease-out;
}

.heading__subtitle {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    animation: moveInRight 2s ease-out;
}

@keyframes moveInLeft {

    0% {
        opacity: 0;
        transform: translate(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {

    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}